.jd_layout {
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  background-color: lightgray;
  margin: 0 auto;
  min-height: 1200px;
}
.jd_header {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
}
.jd_header > .jd_header_box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 300px;
  background-color: rgba(201, 21, 35, 0.85);
}
.jd_header > .jd_header_box > .icon_logo {
  position: absolute;
  width: 60px;
  height: 36px;
  background-position: 0 -103px;
  top: 2px;
  left: 10px;
}
.jd_header > .jd_header_box > .login {
  font-size: 15px;
  line-height: 36px;
  position: absolute;
  width: 60px;
  height: 36px;
  top: 1px;
  right: 10px;
}
.jd_header > .jd_header_box > .form {
  width: 100%;
  height: 40px;
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
}
.jd_header > .jd_header_box > .form > input {
  padding-left: 30px;
  margin: 5px auto;
  width: 100%;
  height: 30px;
  border-radius: 20px;
}
.jd_header > .jd_header_box > .form > .icon_search {
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: -60px -109px;
  top: 10px;
  left: 80px;
}
.jd_banner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.jd_banner > ul:first-child {
  width: 1000%;
  transform: translateX(-10%);
  -webkit-transform: -webkit-translateX(-10%);
}
.jd_banner > ul:first-child > li {
  float: left;
  width: 10%;
}
.jd_banner > ul:first-child > li > a {
  width: 100%;
  display: block;
  font-size: 0;
}
.jd_banner > ul:first-child > li > a > img {
  width: 100%;
}
.jd_banner > ul:last-child {
  width: 144px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -72px;
}
.jd_banner > ul:last-child > li {
  margin: 0px 4px;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.jd_banner > ul:last-child > li.active {
  background-color: #fff;
}
.jd_nav {
  background-color: #fff;
  width: 100%;
}
.jd_nav > ul {
  width: 100%;
}
.jd_nav > ul > li {
  float: left;
  width: 25%;
}
.jd_nav > ul > li > a {
  display: block;
}
.jd_nav > ul > li > a > img {
  display: block;
  margin: 0px auto;
  width: 40px;
  height: 40px;
}
.jd_nav > ul > li > a > p {
  text-align: center;
  color: #222;
}
.jd_product {
  width: 100%;
  padding: 0 5px;
}
.jd_product > .jd_product_box {
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0 2px 0px gray;
}
.jd_product > .jd_product_box > .title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #eee;
}
.jd_product > .jd_product_box > .title > h3 {
  padding-left: 20px;
  line-height: 30px;
  font-weight: normal;
  position: relative;
}
.jd_product > .jd_product_box > .title > h3:before {
  content: "";
  border-radius: 2px;
  width: 3px;
  height: 16px;
  background-color: #e4393c;
  position: absolute;
  top: 7px;
  left: 10px;
}
.jd_product > .jd_product_box > .title > .f-left > .jd_ms_icon {
  margin-top: 2.5px;
  display: block;
  width: 20px;
  height: 25px;
  background-image: url("../images/seckill-icon.png");
  background-size: 20px 25px;
}
.jd_product > .jd_product_box > .title > .f-left > .jd_ms_con {
  line-height: 30px;
  color: #e4393c;
}
.jd_product > .jd_product_box > .title > .f-left > .jd_ms_time {
  color: #e4393c;
}
.jd_product > .jd_product_box > .title > .f-left > .jd_ms_time > span {
  height: 16px;
  line-height: 16px;
  margin-top: 7px;
  margin-left: 3px;
}
.jd_product > .jd_product_box > .title > .f-left > .jd_ms_time > .jd_ms_time_con {
  text-align: center;
  margin-left: 3px;
  margin-top: 7px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  background-color: #222222;
  color: #fff;
}
.jd_product > .jd_product_box > .title > .f-right {
  line-height: 30px;
}
.jd_product > .jd_product_box > .title.no_border {
  border-bottom: none;
}
.jd_product > .jd_product_box > .product > ul {
  width: 100%;
}
.jd_product > .jd_product_box > .product > ul > li {
  width: 33.333%;
}
.jd_product > .jd_product_box > .product > ul > li > a {
  display: block;
  padding: 0 10px;
  width: 100%;
  border-right: 1px solid #eee;
}
.jd_product > .jd_product_box > .product > ul > li > a > img {
  width: 100%;
  vertical-align: middle;
}
.jd_product > .jd_product_box > .product > ul > li > p {
  text-align: center;
  margin: 3px 0px;
}
.jd_product > .jd_product_box > .product > ul > li > p:last-of-type {
  text-decoration: line-through;
  color: red;
  font-size: 16px;
}
